.container {
    margin: 80px 0;
    background-color: #9102d4;
    padding: 20px;
    /* border: 2px solid white; */
    border-radius: 20px;
    box-shadow: 0px 10px 20px #101220;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
}