.container {
    margin: 60px 0;
    background-color: #1a1d33;
    padding: 20px;
    /* border: 2px solid white; */
    border-radius: 20px;
    border: 2px solid #9102d4;
    box-shadow: 0px 10px 20px ;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
}